/*
Styling for TSA Webmaster style-guide.
@author Ethan Witherington etw9578@rit.edu
@author Joshua Famous joshua.famous@gmail.com
*/
.dark {
  background-color: #1e1e1e;
}
.darkgray {
  background-color: #43494D;
}
.gray {
  background-color: #E9EBED;
}
.lightgray {
  background-color: #F5F5F5;
}
.light {
  background-color: #FBFBFB;
}
.base {
  background-color: #0a2463;
}
.accent {
  background-color: #d62828;
}
.hilight {
  background-color: #3e92cc;
}
.shadow_1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow_2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow_3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow_4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.aesthetic {
  letter-spacing: 0.5px;
}
body {
  margin: 0;
  padding: 0 0;
  font-family: 'Muli', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #F5F5F5;
}
section {
  max-width:800px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin:0 auto;
}
h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  word-wrap: break-word;
}
h1 {
  font-size: 2.5rem;
  color: #0a2463;
}
h2 {
  font-size: 1.75rem;
  color:#3e92cc;
}
hr {
  border: 0;
  background-color: #1e1e1e;
  height: 1px;
  margin: -1rem 50% 1rem 1rem;
}
@media only screen and (max-width: 500px) {
  hr {
    background-color: #d62828;
    margin: -1rem 0 1rem 0;
  }
}
p,
ul {
  padding-left: 1rem;
}
@media only screen and (max-width: 500px) {
  p,
  ul {
    padding: 0;
  }
}
a {
  color: #0a2463;
}
a:hover {
  color: #d62828;
}
.notwide {
  max-width: 800px;
  margin: 0 auto;
}
.magic {
  display: block;
}
.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex_left{
  justify-content: flex-start !important;
}
.flex_right{
  justify-content: flex-start !important;
}
.flex_left p {
  max-width:100%;
  min-width:60%;
}
.flex_right p {
  max-width:100%;
  min-width:60%;
}
@media only screen and (min-width: 500px) {
  .flex_left{
    justify-content: flex-start !important;
    flex-wrap:nowrap !important;
  }
  .flex_right{
    justify-content: flex-end !important;
    flex-wrap:nowrap !important;
  }
  .flex_left p {
    max-width:50%;
  }
  .flex_right p {
    max-width:50%;
  }
}
.code {
  background-color: #E9EBED;
  color: #1e1e1e;
  padding: 0.25rem 0.5rem;
  font-family: monospace;
}
.header {
  background-color: #0a2463;
  margin: 0 -2rem;
  padding: 1rem;
}
.header .notwide {
  justify-content: center;
}
.header img {
  width: 5rem;
  margin: 1rem;
  display: inline-block;
}
@media only screen and (max-width: 500px) {
  .header img {
    width: 8rem;
    max-width: 50%;
  }
}
.header h1 {
  display: inline-block;
  margin: 1rem;
  color: #FBFBFB;
  text-align: center;
}
.navigation {
  background-color: #1e1e1e;
  margin: 0 -2rem;
}
.navigation .notwide a {
  display: inline-block;
  text-decoration: none;
  color: #FBFBFB;
  margin: 1rem;
  letter-spacing: 0.5px;
}
.navigation .notwide a:hover {
  text-decoration: underline;
  color: #d62828;
}
#logos img {
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin: 1rem 1rem;
  padding: 1rem;
  background-color: #1e1e1e;
  color: #FBFBFB;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  letter-spacing: 0.5px;
}
.swatch {
  border: 1px solid #1e1e1e;
  margin: 1rem;
  background-color: #FBFBFB;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.swatch .color {
  height: 3.75rem;
}
.swatch p {
  margin: 1rem;
  padding: 0;
}
.box {
  border: 1px solid #1e1e1e;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #FBFBFB;
}
.imgbox{
  padding:0.5rem !important;
}
.boximg{
  width:100%;
  display:block;
}
.half{
  padding:0.5rem;
  margin:0.5rem;
}
.button {
  margin: 1rem;
  padding: 1rem 2rem;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.25s ease, background-color 0.25s ease;
  letter-spacing: 0.5px;
}
.b_accent {
  border: 0.15em solid #d62828;
  background-color: #FBFBFB;
  color: #d62828;
}
.b_accent:hover {
  background-color: #d62828;
  color: #FBFBFB;
}
.b_base {
  border: 0.15em solid #0a2463;
  background-color: #FBFBFB;
  color: #0a2463;
}
.b_base:hover {
  background-color: #0a2463;
  color: #FBFBFB;
}
.b_dark {
  border: 0.15em solid #1e1e1e;
  background-color: #FBFBFB;
  color: #1e1e1e;
}
.b_dark:hover {
  background-color: #1e1e1e;
  color: #FBFBFB;
}
.b_hilight{
  border: 0.15em solid #3e92cc;
  background-color:#FBFBFB;
  color:#3e92cc;
}
.b_hilight:hover{
  color:#FBFBFB;
  background-color:#3e92cc;
}
.whitesection h1{
  color:white;
}
.whitesection h2{
  color:white;
}
.whitesection p{
  color:white;
}
.whitesection li{
  color:white;
}
.whitesection a{
  color:white;
}
.whitesection hr{
  background-color:white;
}
footer {
  margin: 0 -2rem;
}
footer {
  background-color: #1e1e1e;
  color: #E9EBED;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
}